.header {
  position: fixed;
  top: 0;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  z-index: 10;
  transition: 0.25s all ease-in-out;
}
.dark.header {
}
.visible {
  backdrop-filter: blur(42px);
  background: radial-gradient(
    97.57% 210.75% at 0.9% 2.98%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.dark.visible {
  background: radial-gradient(
    97.57% 210.75% at 0.9% 2.98%,
    rgba(24, 24, 35, 0.4) 0%,
    rgba(24, 24, 35, 0) 100%
  );
}
.header__brand {
  width: 240px;
  object-fit: contain;
}

@media only screen and (max-width: 400px) {
  .header__brand {
    width: 180px;
    object-fit: contain;
  }
}
