.header {
  position: fixed;
  top: 0;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  z-index: 200;
}
.header__brand {
  width: 240px;
  object-fit: contain;
}

@media only screen and (max-width: 400px) {
  .header__brand {
    width: 180px;
    object-fit: contain;
  }
}
