.heading {
  font-size: 12px;
  color: #24135b;
}
.label {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: #7a71a7;
}
.tolerance {
  display: grid;
  gap: 11px;
  grid-template-columns: 2fr 2fr 2fr 6fr;
  margin-top: 20px;
}
.deadline {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: #7a71a7;
}
.switches {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}
.button {
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  border-radius: 9px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  padding: 0px 24px;
  background-color: #f0f4f5;
  box-shadow: none;
  color: #7a71a7;
}
.button:hover {
  opacity: 0.65;
}
.button__active {
  background-color: #7a71a7;
  color: #f0f4f5;
}
