.heading {
  font-size: 12px;
  color: #24135b;
}
.dark.heading {
  font-size: 12px;
  color: #cfc5f7;
}
.label {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: #7a71a7;
}
.tolerance__button__1 {
  grid-area: toleranceButton_1;
  width: 100%;
}
.tolerance__button__2 {
  grid-area: toleranceButton_2;
  width: 100%;
}
.tolerance__button__3 {
  grid-area: toleranceButton_3;
  width: 100%;
}
.tolerance__input {
  grid-area: toleranceInput;
  width: 100%;
}
.tolerance {
  display: grid;
  gap: 11px;
  grid-template-areas: "toleranceButton_1 toleranceButton_2 toleranceButton_3 toleranceInput toleranceInput toleranceInput";
  margin-top: 20px;
}
.deadline {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: #7a71a7;
}
.dark.deadline {
  color: #cfc5f7;
}
.switches {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}
.button {
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  border-radius: 9px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  padding: 0px 24px;
  background-color: #f0f4f5;
  box-shadow: none;
  color: #7a71a7;
  height: 40px;
}
.button:hover {
  opacity: 0.65;
}
.button__active {
  background-color: #7a71a7;
  color: #f0f4f5;
}
@media only screen and (max-width: 425px) {
  .tolerance {
    grid-template-areas:
      "toleranceButton_1 toleranceButton_2 toleranceButton_3"
      "toleranceInput toleranceInput toleranceInput";
  }
}
