.switch {
  display: flex;
  border-radius: 23px;
  overflow: hidden;
  background-color: #fff;
}
.switch__option {
  color: #7a71a7;
  border-radius: 23px;
  padding: 6.48px 38px 9.52px 36px;
  transition: 1s all linear;
}
.switch__option__active {
  background: #7a71a7;
  color: #fff;
}
