.main {
  background-color: #fff;
  padding: 30px;
  border-radius: 47px;
  width: 100%;
  max-width: 500px;
}
.main__header {
  color: #786fa6;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(231, 227, 235);
}
.main__header__left {
  flex-grow: 1;
}
.main__header__left > p:first-child {
  color: #24135b;
}
.main__header__right {
  display: flex;
}
.main__header__right > img {
  object-fit: contain;
  width: 27px;
}
.main__header__buttons {
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: all 0.2s ease 0s;
  height: 48px;
  background-color: transparent;
  box-shadow: none;
  padding: 0px;
  margin-left: 10px;
  transform: scale(1);
}
.main__header__buttons:hover {
  transform: scale(1.05);
}
.main__header__buttons:active {
  transform: scale(1.02);
}
