.top {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.top > h1 {
  width: fit-content;
}
.top > button {
  background-color: #cfc5f7;
  border-radius: 30px;
  padding: 5px;
  color: #7a71a7;
}
.dark.top > h1 {
  color: #cfc5f7;
}
.transaction {
  font-size: 12px;
  color: #7a71a7;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.transaction > h1 > img {
  display: inline;
  margin-left: 3px;
  cursor: pointer;
  object-fit: contain;
  height: 15px;
}
