.container {
  text-align: center;
}

.progressContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progressContainer::before {
  content: ""; /* Mandatory with ::before */
  background-color: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: 1;
}

.progress {
  background: linear-gradient(
    90deg,
    #ecb42a 0%,
    #e8a839 48%,
    #c637c1 81%,
    #bb12ee 100%
  );
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: 1;
  transition: 0.4s ease;
}

.circle {
  background: linear-gradient(
    90deg,
    #ecb42a 0%,
    #e8a839 48%,
    #c637c1 81%,
    #bb12ee 100%
  );
  color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  opacity: 0.5;
  z-index: 2;
}

.circle.active {
  opacity: 1;
}
.circle > img {
  height: 12px;
  object-fit: contain;
}

.btn {
  background-color: #e0e0e0;
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
