@font-face {
  font-family: "Eurostile Tech";
  src: url("/fonts/Eurostile-tech.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Eurostile";
  src: url("/fonts/euro_technic_extended_regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Eurostile Bold Extra";
  src: url("/fonts/Eurostile-Bold-Extra.TTF");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Eurostile";
  src: url("/fonts/Eurostile-Bold.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Eurostile Bold";
  src: url("/fonts/Eurostile-Bold.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Eurostile, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  letter-spacing: 0.5px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}
