.home__bg_left_top {
  position: fixed;
  top: -70px;
  left: -70px;
  width: 360px;
  clip: rect(70px, 3500px, 300px, 70px);
}

@media only screen and (max-width: 400px) {
  .home__bg_left_top {
    width: 300px;
  }
}

.home__bg_right_top {
  position: fixed;
  top: -2.5%;
  right: -2.5%;
  max-width: 30%;
}

.home__bg_left_bottom {
  position: fixed;
  bottom: -110px;
  left: -130px;
  max-height: 50%;
}

.home__bg_right_bottom {
  position: fixed;
  bottom: -200px;
  right: -330px;
  max-height: 75%;
}

.home__container {
  background-color: #f1f1f1;
  background-image: url("./background.svg");
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 75px;
}
@media only screen and (max-width: 768px) {
  .countdown__container {
    background-image: url("./mobile-background.svg");
  }
}
.home__content {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 16px 16px 30px;
  min-height: calc(100vh - 64px);
}
@media only screen and (max-width: 425px) {
  .home__content {
    padding: 10px;
  }
}
@media only screen and (max-width: 425px) {
}
