.home__container {
  background-color: #f1f1f1;
  background-image: url("./background.svg");
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 75px;
}
@media only screen and (max-width: 768px) {
  .countdown__container {
    background-image: url("./mobile-background.svg");
  }
}
.home__content {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 16px 16px 30px;
  min-height: calc(100vh - 64px);
}
@media only screen and (max-width: 425px) {
  .home__content {
    padding: 10px;
  }
}
@media only screen and (max-width: 425px) {
}
